.container-fluid
  %h3
    Current camera view
  %br
  =image_tag Picture.last.snapshot
  .row.my-2
    %a.btn.btn-primary{href: "/display_camera_screen"}
      Reload
  .row.my-2
    %a.btn.btn-secondary{href: "/display_main_screen"}
      Back to main screen
