.container-fluid
  %h3
    Current camera view
  %form.ml-2.ml-sm-2.ml-md-2.ml-lg-4.ml-xl-4
    .row.my-2
      =image_tag Picture.last.snapshot
    .row.my-2
      %a.btn.btn-primary{href: "/display_camera_screen"}
        Current camera view
    .row.my-2
      %a.btn.btn-primary{href: "/display_current_image_classification"}
        Classify
    .row.my-2
      %a.btn.btn-danger{href: "/do_full_cycle"}
        Take image and spray
    .row.my-2
      %a.btn.btn-secondary{href: "/display_main_screen"}
        Back to main screen
